/** Button **/
#wedding .button {
  font-family: 'Open Sans ', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;

  padding: 0.75rem 1rem;

  border-radius: 0.5rem;
  border: none;

  text-decoration: none;
  display: block;

  color: #2e3f4b;
  background-color: #fffbf8;

  transition: all 0.5s ease;

  cursor: pointer;
}

#wedding .button:hover,
#wedding .button:focus {
  box-shadow: 0 0 0.5rem #fffbf8;
  transform: scale(1.1);
  outline: none;

  background-color: #f1e8ff;
  animation: blink 1s infinite alternate;
}

#wedding .button:active {
  box-shadow: 0 0 1rem #9b61a7;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
